<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update person</title>
</head>
<body>
<form th:method="PATCH" th:action="@{/books/{book_id}(book_id=${book.getBookId()})}" th:object="${book}">
    <label for="title">Enter title: </label>
    <input type="text" th:field="*{title}" id="title"/>
    <div style="color:red" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Name Error</div>
    <br/>
    <label for="author">Enter author: </label>
    <input type="text" th:field="*{author}" id="author"/>
    <div style="color:red" th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Name Error</div>
    <br/>
    <label for="ageOfRelease">Enter age of release: </label>
    <input type="number" th:field="*{ageOfRelease}" id="ageOfRelease"/>
    <div style="color:red" th:if="${#fields.hasErrors('ageOfRelease')}" th:errors="*{ageOfRelease}">Age Error</div>
    <br/>
    <input type="submit" value="Update!"/>
</form>
</body>
</html>